@charset "UTF-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}

#container {
    margin: 0 auto;
    max-width: 960px;
}

.place {
    border: 1px solid #ccc;
    border-color: #ccc #999 #999 #ccc;
    margin-bottom: 20px;
    padding: 10px;
}