@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #fff1d6d6;

}

h1 a {
    color: #7e9f19;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    padding: 5px;
    border-radius: 0 25px 25px 0;
}

h1 a:hover {
    background-color: #7e9f19;
    color: white;
}

#container {
    margin: 20px auto;
    max-width: 960px;
}

.places {
    float: left;
    max-width: 660px;
}

article {
    height: auto;
    border: 1px solid #ccc;
    border-color: #ccc #999 #999 #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;

}

article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}
article a {
    color: #2c88a7;
    font-weight: bold;
}

article img {
    max-width: 200px;
    height: 120px;
    display: block;
    margin-top: 10px;
    float: left;
    border: 1px solid #7E9F19;
    margin: 10px;
}

.clear {
    clear: both;
}


aside {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 10px;
    float: right;
    max-width: 260px;
}

aside h3 {
    font-size: 14px;
    margin-top: 0;
}

aside ol {
    font-size: 12px;
    list-style-position: inside;
}

footer {
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #333333;
}